<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <style>
    </style>
</head>
<body>
    <div class="container">
        @await Component.InvokeAsync("ChatsList");
        @await Component.InvokeAsync("Chat");
        @await Component.InvokeAsync("MemberList");
    </div>
</body>
</html>