@model PV221Chat.DTO.LoginDTO

@{
    ViewData["Title"] = "Home page";
}
<!-- Сторінка для логіну -->
<div class="text-center">
    <form asp-action="Index" method="post" class="loginForm">
        <div class="form-example">
            <label for="Email">Login: </label>
            <input type="text" name="Email" id="login" required />
        </div>
        <div class="form-example">
            <label for="Password">Password </label>
            <input type="password" name="Password" id="password" required />
        </div>
        <div class="form-example">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div>
            <label for="text ">If you don't have an account, <a class="nav-link text-dark" asp-controller="Login" asp-action="Register">Register</a></label>
        </div>
    </form>
</div>
