@model PV221Chat.DTO.LoginDTO

@{
    ViewData["Title"] = "Home page";
}
<!-- Сторінка для логіну -->
<div class="text-center">
    <form asp-action="Login" method="post" class="loginForm">
        <div class="form-example">
            <label for="Email">Login: </label>
            <input type="text" name="Email" id="login" required />
        </div>
        <div class="form-example">
            <label for="Password">Password </label>
            <input type="password" name="Password" id="password" required />
        </div>
        <div class="form-example">
            @if (!ViewData.ModelState.IsValid)
            {
                <p class="text-danger">Такого користувача не існує!</p>
            }
        </div>
        <!-- Тут ссылка на профиль но она через контроллер Home -->
        <div class="form-example">
            <button type="submit" class="btn btn-primary"><a href="@Url.Action("Profile", "Home")" class="btn btn-link">Login</a></button>
        </div>
    </form>
    <div>
        <label for="text ">If you don't have an account: <a href="@Url.Action("Register", "Login")" class="btn btn-link">Register</a></label>
    </div>
</div>
